---
layout: default
---
<article class="post">
  <header> 
    <div class="title">
      <h2>{{ page.title | escape }}</h2>
      <p><a href="//github.com/BlueWings2017/BlueWings2017.github.io/blob/main/{{ page.path }}" class="icon"><i class="fas fa-fw fa-edit"></i> BlueWings GitHub </a></p>
    </div>
    <div class="meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | date: "%d %b %Y" }}</time>
       {% if post.author %}
      {{post.author}}
      {% endif %} 
    </div>
  </header>
  {{ content }}

  <footer>
    <ul class="stats">
      <li><a class="icon" href="{{ site.url }}"><i class="fas fa-fw fa-folder"></i> Go to Main</a></li>
    </ul>
  </footer>
</div>
</article>

<div style="float: left;">
 <script src="https://utteranc.es/client.js"
        repo="BlueWings2017/BlueWings2017.github.io"
        issue-term="url"
        label="Comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
</div>

<ul class="actions pagination">
  {% if page.previous.url %}
    <li><a href="{{page.previous.url}}" class="button big previous icon"><i class="fw fas fa-chevron-left"></i> 이전</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a href="{{page.next.url}}" class="button big next icon"> 다음<i class="fw fas fa-chevron-right"></i></a></li>
  {% endif %}
</ul>


{%include comments.html %}

